<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="MeteostatApiKey" value="d8b001c189mshb61f2fa1a857d9bp12e600jsn46d88f52d61f" />
		<add key="MeteostatHost" value="https://meteostat.p.rapidapi.com/stations/hourly" />
		<add key="MongoUri" value="mongodb://localhost:27017" />
		<add key="DatabaseName" value="meteostats" />
	</appSettings>
</configuration>